@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
#main{
    background-color: #cecece;
    /* height: 100vh;
    width: 100vw; */
}
#searchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 4rem;
}
#searchBar{
    height : 80%;
    width : 50%;
    font-size : 1.6rem
}
#searchButton{
    height: 89%;
    width : 10%;
    font-size : 1.6rem
}
#container p{
    text-transform: capitalize;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
}